@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

html, body { height: 100%; }

body {
  @apply bg-black text-white antialiased;
}

/* Smooth scroll for anchor links */
html { scroll-behavior: smooth; }
